@import "lib/global";

.links {
    font-family: monospace;
    font-size: 30px;
    font-weight: 100;
    width: auto;
    margin: auto 2em;

    a {
        color: #09f;
        text-decoration: none;

        &.delete {
            color: #f00;
        }

        &.edit {
            color: #06f;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    .full-url {
        color: #aaa;
        font-size: 22px;
        text-shadow: 1px 1px 0 #fff;
    }
}

.links h1 {
    color: #333;
    margin-bottom: 40px;
}

.links ul {
    padding: 0;
    list-style-type: none;
}

.links ul li {
    margin-bottom: 20px;
}
